@import "tailwindcss";

:root {
  --background: #030f18;
  --foreground: #e0e8e6;

  --primary: #72a3bf;
  --secondary: #1d4052;
  --muted: #446e87;

  --font-heading: var(--font-syne);
  --font-body: var(--font-manrope);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}